
 {% extends 'index.html' %}

 {% block content %}
       {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul id="flash-msg" class=flashes>
    {% for message in messages %}
      <li class="text-red-900 text-3-1 text-center mt-10 ">{{ message }} تم الحذف</li>
    {% endfor %}
    </ul>
     <script>
        setTimeout(() => {
          const flash = document.getElementById('flash-msg');
          if (flash) {
            flash.classList.add('opacity-0'); 
            setTimeout(() => flash.remove(), 500); 
          }
        }, 3000);
      </script>
  {% endif %}
{% endwith %}
 <h1 class="text-4xl font-bold border-b mt-10 text-center p-2 text-orange-400 ">الحفلات</h1>
 <h3 class="text-center text-lg">عدد الحفلات : {{ numOFparty }}</h3>
    {% if not parties %}
    <a href="{{url_for('login')}}" class="  hover:text-orange-300 p-5 text-xl lg:text-4xl md:text-3-1 border-b  text-center text-orange-400 mt-50 font-bold ">Sing up  to show the party </a>
    

    {% endif %}


<div class="grid text-center gap-3 grid-cols-1 lg:grid-cols-4 p-5 md:grid-cols-2 sm:grid-cols-2 mb-10">
    {% for party in parties %}
<div class="party-card bg-orange-200 p-6 rounded-xl mt-10 shadow-lg text-black transition-all hover:scale-105"
     data-salary="{{ party.salary }}"
     data-members="{{ party.members }}"
     data-id="{{ party.id }}">

    <h4>قاعة : {{ party.hall }}</h4>
    <p>{{ party.date }} | التاريخ</p>
    <p>عدد المناديب : {{ party.members }}</p>
    {% if members_names != '' %}
    <p> اسماء المناديب </p> <hr>
   <ol class="flex gap-3 justify-around flex-wrap list-inside "> 
    {% for name in party.members_names.split() %}
    {% if name|length  >  2 %}
     <li class="list-decimal">{{name}}</li>
      {% endif %}
    {% endfor %}</ol>
    <hr>
    {% else %}
      <p>مافي اسماء...</p>
    {% endif %}

    <p>المرتب : {{ party.salary }} ريال</p>

    <p class="result font-bold text-blue-800 mt-2"></p>

    <div class="flex gap-3 mt-4 ">
        <form action="/parties/{{ party.id }}" method="post">
            <button class=" bg-orange-300 rounded-lg shadow-lg p-2 hover:bg-orange-500 transition-colors">delete</button>
        </form>

        <form action="/updateparty/{{ party.id }}" method="get">
            <button class="bg-orange-300 rounded-lg shadow-lg p-2 hover:bg-orange-500 transition-colors">Update</button>
        </form>
    </div>
</div>
{% endfor %}
</div>

<script>
    // Get all party cards
        
        document.querySelectorAll('.party-card').forEach(card => {
            if (card.dataset.salary && card.dataset.members){
                const salary = Number(card.dataset.salary);
        const members = Number(card.dataset.members);

        const result = salary / members;

        const resultEl = card.querySelector('.result');
        resultEl.textContent = "نصيب كل مندوب: " + result.toFixed(2) + " ريال";
            }
        
    });
    
  
</script>

{% endblock %}
