
{% extends 'index.html' %}



  {% block content %}
<h3 class=" text-2xl mt-10 text-center text-orange-600 border-b w-64 font-bold mx-auto p-1  ">تسجيل الدخول</h3>
  <form id="myd" class=" flex flex-col justify-center items-center mt-20  p-5  border " method="post" action="/auth/login">
        <input class=" w-64 border-b mb-10 text-center rounded-lg " type="text" name="username" placeholder="Username">
        <input class=" w-64 border-b  text-center rounded-lg" type="password" name="password" placeholder="Password">
        <button id="sub"  class=" drop-shadow-lg block mx-auto mt-6 bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600" type="submit"> Login </button>
    </form>
      {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul id="flash-msg" class=flashes>
    {% for message in messages %}
      <li class="text-red-500 text-xl text-center ">{{ message.message }}</li>
    {% endfor %}
    </ul>
     <script>
        
        setTimeout(() => {
          const flash = document.getElementById('flash-msg');
          if (flash) {
            flash.classList.add('opacity-0'); 
            setTimeout(() => flash.remove(), 500); // remove after fade
          }
        }, 3000);


        
      </script>
  {% endif %}
{% endwith %}
    <div class="border-b text-center p-2"> if you don't have an account, <a class="text-orange-300 rounded-lg border p-1" href="/auth/register">Register here</a></div>

 
    {% endblock %}

  
